<!DOCTYPE html>
<html>
<head>
  <title>Yearbook</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
</head>
<body>
<div class="wrapper-for-content-outside-of-footer">
	<header>
	<h1>The Iron Yard <span>Academy</span></h1>
		<h2>Durham, NC</h2>
	</header>

	<section class="main">
		<div class="user-container"></div>
		<div class="directory-container"></div>
		<div class="form"></div>

		<script type="text/template" class="profile-template">
			<div class="profile">
				<%= image_tag "NapoleanD.jpg" %>
				<img src="<%%= user.image_uid%>" class="user-image">
					<ul class="user-details">
						<li><span class="bold"><%%= user.name %></span></li>
						<li><%%= user.bio %></li>
						<li><%%= user.email %></li>
						<li><i class="fa fa-twitter"></i>  <%%= user.twitter %></li>
						<li><i class="fa fa-github-alt"></i>  <%%= user.github %></li>
						<li><i class="fa fa-linkedin"></i>  <%%= user.linkedin %></li>
						<li><%%= user.course %></li>
						<li><%%= user.role %></li>
						<li><%%= user.cohort %></li>
					</ul>
			</div>
		</script>

		<script type="text/template" class="directory-template">
			
  		


			<div class="hover-tile-outer">
  				<div class="hover-tile-container">
    				<div class="hover-tile hover-tile-visible" style="background-image: url('<%%= user.image %>')">
    				</div>
    				<div class="hover-tile hover-tile-hidden">
      					<a href="'users/' + '<%%= user.id %>'"><h4><%%= user.name %></h4></a>
      						<ul class="user-details">
								<li><%%= user.course %></li>
								<li><%%= user.role %></li>
								<li><%%= user.cohort %></li>
							</ul>
    				</div>
  				</div>
			</div>

		</script>

		<!-- <script type="text/template" class="logIn-form"></script>

			<form class="form">
				<input class="input-box" id="email" placeholder="your email" type="text" autofocus />
    	        <input class="input-box" id="password" placeholder="your password" type="text" />
    	        <select name="course">
  					<option value="frontend" selected>Front End</option> 
  					<option value="rails">Ruby on Rails</option>
				</select>
				<select name="cohort">
  					<option value="cohort1" selected>Summer 2014</option> 
  					<option value="cohort2">Fall 2014</option>
				</select>    	        
    	        <button class="button">submit</button>
    	    </form>
    	</script> -->

    </section>

  
 	<div class="push"></div>
</div>

<footer class="footer-2">
  <div class="footer-logo">
    <%= image_tag 'iron-yard-logo-final.png' %>
  </div>
    <ul>
      <li><a href="#">About</a></li>
      <li><a href="#">Contact</a></li>
      <li><a href="#"></a></li>
    </ul>

    <div class="footer-secondary-links">
      <ul>
        <li><a href="#">Link</a></li>
        <li><a href="#">Link</a></li>
      </ul>

      <ul class="footer-social">
        <li><a href="#">
           <i class="fa fa-github-alt"></i>
          </a></li>
        <li><a href="#">
		<i class="fa fa-twitter"></i>        
		</a></li>
        <li><a href="#">
        <i class="fa fa-linkedin"></i>
        </a></li>
      </ul>
    </div>
</footer>

</body>
</html>
