@import "bourbon";	
@import "base/_base";
@import "neat";

@import url(http://fonts.googleapis.com/css?family=Muli|Montserrat|Adamina);
@import "font-awesome";
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 */

//GLOBAL STYLES
header {
	margin: 50px 0 10px 50px;
	h1 {
	text-transform: uppercase;
	color: $dk-navy;
	span {
		color: $orange;
	}
	font-size: 4em;
	}


	h2 {
		font-family: $serif;
		color: $dk-turquoise;
	}
}

.main {
	@include outer-container;
	margin: auto;
	max-width: 965px;
}

.vertical {
		transform: rotate(270deg);
		transform-origin: left top 0;
}

//  .directory-container {
//   @include span-columns(12);
 	
// }
  
//LOGIN FORM STYLES
.form {
	@include span-columns(6);
	@include shift(3);
}


//DIRECTORY STYLES
.hover-tile-outer {
   @include span-columns(3);
   @include omega(4n);

  $hover-tile-height: 12em;

  background-position: bottom;
  background-size: cover;
  //background: ;
  background-size: cover;
  background-color: $dk-turquoise;
  border: 1px solid $base-border-color;
  height: $hover-tile-height;
  margin-bottom: $base-line-height;
  cursor: pointer;
  //float: right;
  border-radius: 10px;
 /*  @include media($medium-screen) {
    width: 33.3%;
  } */

  .hover-tile-container {
    height: $hover-tile-height;
    overflow: hidden;
  }

  .hover-tile-container:hover > .hover-tile {
    @include transform(translate(0, -100%));
  }

  .hover-tile {
    @include transition(all, .4s ease-in-out);
    background:inherit;
    color: white;
    height:inherit;
    padding: 1em 1.5em;
  }

  .hover-tile-visible {
    color: transparentize(white, .3);
    font-size: 2em;
    font-weight: 200;  
    padding-top: 2em;
    text-align: center;
  }

  .hover-tile-hidden {
    background: transparentize(black, .5);
    border-radius: 10px;
    a {
    	color: #FFF;
    }
    h4 {
      margin-bottom: .5em;
    }
    p {
      color: transparentize(white, .3);
    }
  }
}



//SINGLE STUDENT PROFILE STYLES
.profile {
	@include span-columns(8);
	//margin-left: 150px;
	img {
		float: right;
	}
	dd {
		float: right;
		overflow: hidden;
		display: inline;
	}


}

//FOOTER STYLES

.wrapper-for-content-outside-of-footer {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -4em;
}

html, body {
 height: 100%;
}

.footer-2, .push {
  height: 17em;

  @include media($large-screen) {
    height: 4em;
  }
}

.footer-2 {
  $footer-background: desaturate(darken($base-accent-color, 20), 30);
  $footer-color: white;
  $footer-link-color: transparentize($footer-color, .6);
  $footer-disclaimer-color: transparentize($footer-color, .6);

  background: $dk-navy;
  padding: $base-line-height;
  width: 100%;

  .footer-logo {
    margin-right: 1em;
    margin-bottom: 1em;

    @include media($large-screen) {
      float: left;
      margin-bottom: 0;
    }
  }

  .footer-logo img {
    height: 1.6em;
  } 

  ul {
    margin-bottom: 1em;
    @include media($large-screen) {
      float: left;
      margin-left: 1em;
      margin-bottom: 0;
    }
  }

  ul li {
    padding-right: 1em;
    font-weight: 800;

    @include media($large-screen) {
      display: inline;
      text-align: left;
    }
  }

  ul li a {
    color: $footer-link-color;

    &:hover {
      color: transparentize($footer-color, 0);
    }
  }

  .footer-secondary-links {
    @include media($large-screen) {
      float: right;
    }

    li {
      font-size: .8em;
      font-weight: 400;
    }

    ul.footer-social {
      margin-top: 1em;

      @include media($large-screen) {
        float: right;
        margin-top: 0;
      }

      li {
        float: left;
        font-size: 1em;
        padding-right: .7em;

        &:last-child {
          padding-right: 0;
        }
      }

      img {
        opacity: .7;
        height: 1.6em;
        padding: 1px;

        &:hover {
          opacity: 1;
        }
      }
    }
  }
}

